<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table>
  <thead>
    <tr>
      <th>Comments</th>
      <th>Grader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.comments %></td>
        <td><%= grade.grader %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

