<div class="container s12">
	<div class="center-align">
		<br>
		<button class="start-essay-button btn-large blue">Start Essay</button>
		<br>
		<br>
		<%= render 'form' %>

		<%= link_to 'Back', essays_path %>
	</div>
</div>
