<div class="container s12">
	<div class="center-align">
		<br>
		<button class="start-essay-button btn-large blue">Start Essay</button>
		<p id="timer-disclaimer">When you are ready, click the "Start Essay" button, a countdown time will begin. You have 30 minutes until the countdown reaches 0, to submit your essay. If you do not submit the essay before the countdown concludes, your essay will be submitted automatically.</p>
		<br>
		<div id="countdown-timer"></div>
		<br>
		<%= render 'form' %>

		<%= link_to 'Back', essays_path %>
	</div>
</div>
