<p id="notice"><%= notice %></p>

<div class="container"><p>
  <h3> Your essay: </h3>
  <p><%= @essay.body %></p>
  </p>

  <%= link_to 'Back', essays_path %>
  <br>
  <br>

  <% if current_user.admin  %>
    <%= link_to 'Grade This Essay', new_essay_grade_path(@essay) %>
  <% end %>
</div>
